<footer class="footer mt-auto p-2 bg-primary"data-bs-theme="dark">
    <h3 class="text-center">Connect with us</h3>
    <div
      class="d-flex justify-content-evenly flex-wrap"
    >
      <a href="https://www.linkedin.com/in/vishalkumar32/" target="_blank">
        <i class="fab fa-linkedin-in fa-3x"></i>
      </a>
      <a
        class="text-decoration-none"
        href="https://github.com/vishalkumar32"
        target="_blank"
      >
        <i class="fab fa-github fa-3x"></i>
      </a>
      <a href="https://twitter.com/" target="_blank">
        <i class="fab fa-twitter fa-3x"></i>
      </a>
      <a href="https://www.instagram.com/vi.shalrathod979/" target="_blank">
        <i class="fab fa-instagram fa-3x"></i>
      </a>
    </div>
</footer>
  