{% extends 'base.html' %}

{% block title %}   
    Create new post
{% endblock title %}

{% block content %}
<div class="container d-flex flex-column justify-content-center my-4 flex-wrap">
    <h3 class="text-center my-2">New Post</h3>
    <div class="row center">
        <div class="col-md-6 offset-md-3">
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="submit" class="btn btn-danger"><a href="../create" class="text-decoration-none text-light">Clear</a></button>
            </form>
        </div>
    </div>
</div>
{% endblock %}