{% extends 'base.html' %}

{% block title %}   
    Welcome to the Discussion page
{% endblock title %}

{% block content %}

{% if posts %}
<div class="row my-4">
  <div class="col-md-8 offset-sm-2">
<!-- Nav for home page -->
<a class="btn btn-{% if 'name' in request.GET %}secondary{% else %}primary{% endif %} mb-3" href="?name=True"
role="button"><i class="fas fa-sort-alpha-down"></i>
Name</a>
<a class="btn btn-{% if 'date' in request.GET %}secondary{% else %}primary{% endif %} mb-3" href="?date=True"
role="button"><i class="far fa-clock"></i> Date</a>
<a class="btn btn-{% if 'vote' in request.GET %}secondary{% else %}primary{% endif %} mb-3" href="?vote=True"
role="button"><i class="fas fa-poll"></i> Vote</a>    
<a class="btn btn-success mb-3 float-end" href="{% url 'discussion:createpost' %}" role="button">Create <i class="fas fa-plus"></i></a>
<!-- Nav for home page -->

</div>
</div>

<div class="container d-flex justify-content-center flex-wrap my-4">
    {% for post in posts %}
    <div class="card m-3" style="width: 18rem;">
      {% if post.image %}
            <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title}}">
      {% else %}
        <img src="..." class="card-img-top" alt="...">
      {% endif %}
      <div class="card-body text-center">
        <a class="text-decoration-none" href="{{ post.url }}" target="_blank"><h6 class="card-title text-wrap"> {{ post.title|truncatewords:11 }} </h6></a>
        <span>
          <button class="btn btn-primary btn-sm" onClick="document.getElementById('upvote{{ post.id }}').submit()">🔺</button>
          {{ post.votes }}
          <button class="btn btn-secondary btn-sm" onClick="document.getElementById('downvote{{ post.id }}').submit()">🔻</button>
        </span>
        <p class="card-text text-wrap">{{post.description|truncatewords:25}}</p>
        
        <span>
          Author- <a class="text-decoration-none" href="{% url 'discussion:userposts' post.author.id %}">{{ post.author.username }}</a>
        </span>
        <span>
          Date- {{ post.pub_date_pretty }} 
        </span>
       
        <a href="{% url 'discussion:post' post.id %}" class="btn btn-primary">More</a>
      </div>
    </div>
    <form id="upvote{{ post.id }}" method="post" action="{% url 'discussion:upvote' post.id %}">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ request.path }}"/>
    </form>
    <form id="downvote{{ post.id }}" method="post" action="{% url 'discussion:downvote' post.id %}">
     {% csrf_token %}
     <input type="hidden" name="next" value="{{ request.path }}"/>
    </form>
    {% endfor %}
    {% else %}
    <div style="height: 22rem;">
      <h1 class="text-center my-4">No post found</h1>
    </div>
    {% endif %}
</div>

<div class="container d-flex justify-content-center flex-wrap">
  <div class="mt-3">
    <ul class="pagination">
      {% if posts.has_previous %}
      <li class="page-item"><a class="page-link" href="?page=1&{{ params }}">First</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}&{{ params }}">Previous</a></li>
      {% endif %}
      
      <li class="page-item active"><a class="page-link" href="">{{ posts.number }}</a></li>
      
      {% if posts.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}&{{ params }}">Next</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ posts.paginator.num_pages }}&{{ params }}">Last</a></li>
      {% endif %}
    </ul>
  </div>
</div>
  
  
  {% endblock content %}
  